<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>30Days</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<nav>
    <label class="logo" >OpenWeather</label>
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">weather
            <i class="drop_down"></i>
        </a>
            <ul>
                <li><a href="/Today">today</a></li>
                <li><a href="/Week">week</a></li>
                <li><a href="/30Days">30 days</a></li>
            </ul>
        </li>

    </ul>
</nav>
<section></section>

</body>
</html>